// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.c-sidebar-nav-title {
  font-size: 120%;
}

.c-sidebar-brand {
  line-height: 1.5;
  padding: .8125rem .5rem;
}

.col-form-label {
  font-weight: 600;
}

.custom-file-label::after {
  color: #ffffff;
  background-color: #321fdb;
}

.text-muted {
  font-size: 100%
}

.text-white .text-muted {
  font-size: 1.2rem;
}

.jumbotron {
  padding: 1.2rem 1.2rem;
  margin-bottom: 0rem;
  border-radius: 0.3rem;
  background-color: #d8dbe0;
}